.main{
    flex: 1;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.gridIcon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridTitle{
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

.yourImc{
    font-size: 17px;
    margin: 10px 0 50px 0;
}

.yourImc span{
    font-weight: 700;
}

.gridInfo{
    font-size: 12px;
    margin-top: 14px;
}

.gridInfo span{
    font-weight: 700;
}